body {
   --item-shape-color: rgb(50, 100, 200);
}

.jtd-item-short {
   display: flex;
   flex-direction: row;
   align-items: center;
   cursor: pointer;
   font-size: 14px;

   &.selectable:hover {
      background-color: rgba(50, 100, 200, 0.2);
   }

   &>.item-icon {
      display: flex;
      flex-direction: row;
      flex: 0;
      min-width: 32px;
      align-items: center;
      justify-content: center;
      //overflow: hidden;
      padding: 3px;
      font-size: 150%;

      &>.colored {
         padding: 3px;
         border-radius: 50%;
         background-color: var(--item-shape-color);

         &>.colored-inner {
            border-radius: 50%;
            overflow: hidden;
         }
      }
   }

   &>.item-infos {
      flex: 1;
      padding: 3px;

      text-transform: capitalize;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 12px;
   }

}

.jtd-item-large {
   display: flex;
   flex-direction: row;
   align-items: center;
   cursor: pointer;
   position: relative;
   min-height: 32px;

   &:hover {
      outline: solid thin color-mix(var(--item-shape-color), 0.3);
   }

   &.selected {
      padding-left: 10px;
      border-top: solid thin rgb(from var(--item-shape-color) r g b / 0.3);
      border-right: solid thin rgb(from var(--item-shape-color) r g b / 0.5);
      border-bottom: solid thin var(--item-shape-color);

      &::before {
         content: "";
         position: absolute;
         flex: 0;
         left: 0;
         top: 0;
         bottom: 0;
         min-width: 5px;
         background-color: var(--item-shape-color);
      }
   }

   &.unselected {
      padding-left: 10px;

      &:hover {
         background-color: rgba(50, 100, 200, 0.3);
      }

      &::before {
         content: "";
         position: absolute;
         flex: 0;
         left: 0;
         top: 0;
         bottom: 0;
         min-width: 5px;
         border-color: rgb(168, 168, 168);
      }
   }

   &>.item-selector {
      min-width: 32px;
   }

   &>.item-icon {
      display: flex;
      flex-direction: row;
      flex: 0;
      min-width: 40px;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      padding: 5px;
      font-size: 200%;
   }

   &>.item-infos {
      flex: 1;
      padding: 0 20px 0 3px;
      padding: 5px;
      font-size: 14px;
      overflow: hidden;

      &>:first-child {
         text-transform: capitalize;
         text-overflow: ellipsis;
         font-weight: bold;
         font-size: 12px;
      }

      &>:nth-child(2) {
         color: #666;
         font-size: 11px;
         padding-top: 5px;
      }
   }

   &>.item-tooling {}
}