.jtd-menu-item {
   display: flex;
   flex-direction: row;
   align-items: center;
   cursor: pointer;
   font-size: 14px;
   min-height: 24px;

   &:hover {
      background-color: #ccc;
   }

   &>:first-child {
   }

   &>:last-child {
      flex: 1;
      padding: 0 20px 0 3px;
      text-transform: capitalize;
   }

}

.jtd-menu-item-large {
   display: flex;
   flex-direction: row;
   align-items: center;
   cursor: pointer;
   position: relative;
   font-size: 14px;
   min-height: 32px;

   &:hover {
      background-color: #ddd;
   }

   &.selected {
      padding-left: 10px;
      border-top: solid thin rgba(87, 108, 160, 0.3);
      border-right: solid thin rgba(87, 108, 160, 0.5);
      border-bottom: solid thin rgb(87, 108, 160);

      &::before {
         content: "";
         position: absolute;
         flex: 0;
         left: 0;
         top: 0;
         bottom: 0;
         min-width: 5px;
         background-color: rgb(87, 108, 160);
      }
   }

   &.unselected {
      padding-left: 10px;

      &::before {
         content: "";
         position: absolute;
         flex: 0;
         left: 0;
         top: 0;
         bottom: 0;
         min-width: 5px;
         border-color: rgb(168, 168, 168);
      }
   }

   &>.item-selector {
      min-width: 32px;
   }

   &>.item-icon {
      display: flex;
      flex-direction: row;
      flex: 0;
      min-width: 40px;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      padding: 5px;
      font-size: 200%;
   }

   &>.item-infos {
      flex: 1;
      padding: 0 20px 0 3px;
      padding: 5px;

      &>:first-child {
         text-transform: capitalize;
         font-weight: bold;
         font-size: 12px;
      }

      &>:nth-child(2) {
         color: #666;
         font-size: 11px;
         padding-top: 5px;
      }
   }
   
   &>.item-tooling {
   }
}

.jtd-menu-separator {
   border-bottom: 1px solid #999;
   margin: 5px;
   text-align: center;
   font-weight: bold;
   font-size: 80%;
}

.jtd-menu-anchor {
   display: flex;
   flex-direction: row;
   padding: 5px;
   border-radius: 5px;
   cursor: pointer;
   gap: 5px;

   &:hover {
      outline: solid thin #ddd;
      background-color: #eee;
   }
}